<form action="/urls" method="post">
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" name='address' id='address'
            placeholder="Enter URL Address including the https:// prefix" aria-label="Enter URL Address including the http:// prefix" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>