{% extends 'base.html' %}

{% block head %}
<title>Barbados URL Shortener - URL management</title>
<script>
    $(document).on("click", ".delete-button", function () {
        $("#delete-id").val($(this).data('id'));
    });

    $(document).on("click", ".edit-button", function() {
        $("#edit-address").val($(this).data('address'));
        $("#url-edit-id").val($(this).data('id'));
    });
</script>
{% endblock %}

{% block body %}
<table class="table w-75 table-striped table-bordered table-hover table-sm mx-auto">
    <thead class="thead-light">
        <tr>
            <th>Address</td>
            <th>Shortened Address</td>
            <th>Clicks</td>
            <th>&nbsp;</td>
        </tr>
    </thead>
    {% for url in urls %}
    <tr>
        <td>
            {{ url.address }}
        </td>
        <td>
            {{ url.shortcode }}
        </td>
        <td>
            {{ url.clicks }}
        </td>
        <td>
            <button type="button" data-toggle="modal" class="edit-button btn btn-info" data-address="{{url.address}}" data-id="{{url.id}}" data-target="#editModal">Edit</button>
            <button type="button" data-toggle="modal" class="delete-button btn btn-danger" data-id="{{url.id}}" data-target="#deleteModal">Delete</button>
        </td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td colspan="4">
                <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#newModal">
                    Add new URL
                </button>
            </td>
        </tr>
    </tfoot>
</table>

</div>

<!-- Delete Modal -->
{% with modal_name="deleteModal", modal_title="Delete URL", sub_modal="_delete_modal.html" %}
    {% include "_modal.html" %}
{% endwith %}

<!-- New Modal -->
{% with modal_name="newModal", modal_title="Add URL", sub_modal="_new_modal.html" %}
    {% include "_modal.html" %}
{% endwith %}

<!-- edit modal -->
{% with modal_name="editModal", modal_title="Edit URL", sub_modal="_edit_modal.html" %}
    {% include "_modal.html" %}
{% endwith %}

{% endblock %}